body{
  font-family: 'Poppins', sans-serif;
  background-color: #21232c;
  color: #979797;
}

.top-buffer {
  height: 2000px;
}

.about-container {
  margin: 0 auto;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}

.about-image {
  
}

.about-text {
  width: 30%;
  font-size: 20px;
  text-align: justify;
  max-width: 600px;
}

.about-text h1{
  color: #fe3d40;
}

span {
  color: #979797;
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.stats-container {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  justify-content: space-evenly;
}

.stats-body {
  display: flex;
  flex-direction: column;
  font-size: 30px;
}

.stats-value {
  color: #fe3d40;
  font-size: 50px;
}

.stats-name {

}

@media only screen and (max-width: 600px) {

  .about-container {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .about-container h1{
    text-align: center;
  }

 .about-text {
   margin: 0 auto;
   width: 90%;
 }

 .about-image {
   margin: 0 auto;
   margin-top: 50px;
 }

 .stats-container {
   display: flex;
   flex-direction: column;
   margin-top: 50px;
   text-align: center;
   justify-content: space-evenly;
 }

 .stats-name {
   margin-bottom: 50px;
 }
}
