html,
body {
	/** @type {@temp} */
	height: 5000px;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	background: #21232c;
	color: #aaa;
}

* {
    box-sizing: border-box;
}

section {
	display: flex;
	height: auto;
	width: 100%;
}

/** HEADER */

h1,
h2 {
	font-weight: 200;
	margin: 0.4em 0;
}

h1 {
	font-size: 3.5em;
}

.header {
	display: flex;
	height: 100vh;
}

.header .txt-rotate {
	font-weight: 600;
	color: #fe3d40;
}
.header .left {
	width: 60%;
}

.header .inspiration h1 {
	margin-top: 50%;
}

.header .laptop {
	background: url(../img/laptop.svg) center center no-repeat;
	background-size: cover;
}

/** MENU */
nav {
    background-color: #21232c;
    padding: 5px;
    position: sticky;
    top: 0;
    transition: box-shadow 0.25s, border-bottom-width 0.25s;
    border-bottom: 0px solid white;
    z-index: 1100;
}

nav.scrolling {
    border-bottom-width: 1px;
    box-shadow: 0 0 30px -20px white;
}

nav .menu {
	width: 70%;
	float: left;
}

nav .social {
	width: 30%;
    float: right;
    text-align: right;
    padding-right: 40px;
}

nav ul {
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
}

nav li {
	display: inline-block;
	font-size: 20px;
	font-weight: 200;
    color: white;
    margin-right: 10px;
}

nav li:last-child {
	margin-right: 0;
}

nav li.logo {
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 5px;
	margin-right: 30px;
}

nav .hamburger {
    margin-top: 25px;
    padding: 0;
}

nav li:not(.logo):hover a {
    color: #fe3d40;
    transition: color 0.2s;
}

nav a {
    display: inline-block;
}

nav > .menu a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
}

.icon {
    background-repeat: no-repeat;
    background-size: 40px;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-top: 15px;
    filter: grayscale(0.8);
    transition: filter 0.3s;
}

.icon:hover {
	filter: grayscale(0);
}

.icon-twitter {
	background-image: url(../icons/twitter.png);
}

.icon-facebook {
	background-image: url(../icons/facebook.png);
}

.icon-instagram {
	background-image: url(../icons/instagram.png);
}

.icon-github {
	background-image: url(../icons/github.png);
}

.mobile-only {
	display: none;
}

/** ABOUT US */
@media only screen and (max-device-width: 480px) {
  .about-container {
    display: flex;
    flex-direction: row;
  }
}


.about-container {
  margin: 0 auto;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}

.about-image {

}

.about-text {
  width: 30%;
  font-size: 20px;
  text-align: justify;
	max-width: 600px;
}

.about-text h1 {
  color: #fe3d40;
}

.about-text h1 span {
  color: #979797;
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.stats-container {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  justify-content: space-evenly;
}

.stats-body {
  display: flex;
  flex-direction: column;
  font-size: 30px;
}

.stats-value {
  color: #fe3d40;
  font-size: 50px;
}

.stats-name {
	margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {

  .about-container {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .about-container h1{
    text-align: center;
  }

 .about-text {
   margin: 0 auto;
   width: 90%;
 }

 .about-image {
   margin: 0 auto;
   margin-top: 50px;
 }

 .stats-container {
   display: flex;
   flex-direction: column;
   margin-top: 50px;
   text-align: center;
   justify-content: space-evenly;
 }
}

/** TIMELINE */
#timeline {
  padding: 100px 0;
  display: inline-block;
}

#timeline-end {
  width: 90%;
  margin: auto;
}

#timeline h1 {
  text-align: center;
  font-size: 3rem;
  color: white;
  padding-bottom: 50px;
}

#timeline h2 {
  text-align: center;
}

@media (min-width: 1100px) {
  #timeline .event-card:nth-child(odd) .card-head::after, #timeline .event-card:nth-child(even) .card-head::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }

  #timeline .event-card:nth-child(odd) .card-head::before, #timeline .event-card:nth-child(even) .card-head::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fe3d40;
    border-radius: 50%;
    border: 5px solid #fe3d40;
  }

  #timeline-end {
    width: 50%;
    margin: auto;
  }
}

.event-card:nth-child(1) {
  order: 1;
}

.event-card:nth-child(2) {
  order: 4;
}

.event-card:nth-child(3) {
  order: 2;
}

.event-card:nth-child(4) {
  order: 5;
}

.event-card:nth-child(5) {
  order: 3;
}

.event-card:nth-child(6) {
  order: 6;
}

#timeline .event-card-wrapper {
  position: relative;
  margin: auto;
}

@media (min-width: 1200px) {
  #timeline .event-card-wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 1170px;
    height: 1650px;
    /*Increase to add more cards*/
    margin: 0 auto;
  }
}

#timeline .event-card-wrapper::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
}

@media (min-width: 1050px) {
  #timeline .event-card-wrapper::after {
    border-left: 10px solid #374142;
  }
}

#timeline .event-card {
  position: relative;
  display: block;
  margin: 10px auto 80px;
  max-width: 94%;
  z-index: 2;
}

@media (min-width: 480px) {
  #timeline .event-card {
    max-width: 60%;
  }
}

@media (min-width: 1050px) {
  #timeline .event-card {
    max-width: 450px;
    height: 400px;
    margin: 95px;
    margin-top: 100px;
    margin-bottom: 45px;
  }

  #timeline .event-card:nth-child(odd) {
    margin-right: 46px;
  }

  #timeline .event-card:nth-child(odd) .card-head::after {
    border-left-width: 15px;
    border-left-style: solid;
    left: 100%;
  }

  #timeline .event-card:nth-child(odd) .card-head::before {
    left: 486px;
  }

  #timeline .event-card:nth-child(even) {
    margin-left: 46px;
  }

  #timeline .event-card:nth-child(even) .card-head::after {
    border-right-width: 15px;
    border-right-style: solid;
    right: 100%;
  }

  #timeline .event-card:nth-child(even) .card-head::before {
    right: 486px;
  }

  #timeline .event-card:nth-child(2) {
    margin-top: 350px;
  }
}

.event-card .card-head {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 400;
  background-color: #fe3d40;
}

.number-box {
  display: inline;
  float: left;
  margin: 15px;
  padding: 10px;
  font-size: 35px;
  line-height: 35px;
  font-weight: 600;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.17);
}

.event-card .card-head h2 {
  font-weight: inherit;
  letter-spacing: 2px;
  margin: 0;
}

.event-card .card-body {
  padding: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.event-card .card-body p {
  margin-bottom: 15px;
}

.event-card .card-body img {
  display: block;
  width: 100%;
}

.card-head::after {
  border-color: #fe3d40;
}

/** TEAM */

.team {
	background: transparent;
	display: block;
	padding: 100px;
	text-align: center;
}

.team > .pure-g {
	margin-bottom: 20px;
}

.member {
	position: relative;
	width: 158px;
	margin: 0 auto 25px;
}

.member .summary {
	text-align: center;
	margin-top: 8px;
	color: white;
}

.member .card {
	position: absolute;
    background: white;
    z-index: 1000;
    top: -20px;
    left: -30px;
    height: 350px;
    width: 220px;
    padding: 20px;
    border-radius: 5px;
    display:none;
    opacity: 0;
    transition: opacity 0.2s;
}

.member .card.fade-in {
	opacity: 1;
}

.member .card img {
	border-radius: 50%;
	width: 158px;
	height: 158px;
	border: 4px solid #b5b5b5;
  	box-shadow: 0 0 0 2px #fe3d40;
}

.member .card .info {
	margin-top: 8px;
}

.team-picture {
  background-color: transparent;
  width: 158px;
  height: 158px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.member img {
	border-radius: 50%;
	width: 150px;
	height: 150px;
  	object-fit: cover;
}

/* This container is needed to position the front and back side */
.team-picture-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.2s;
  transform-style: preserve-3d;
  border-radius: 50%;
  border: 4px solid #b5b5b5;
  box-shadow: 0 0 0 2px #fe3d40;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/*.team-picture:hover .team-picture-inner {
  transform: rotateY(180deg);
}*/

.team-picture.flip .team-picture-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.team-picture-front, .team-picture-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.team-picture-front {
  color: black;
}

/* Style the back side */
.team-picture-back {
  transform: rotateY(180deg);
}

/** FOOTER */
footer {
    width: 100%;
    background-color: white;
    margin-top: 50px;
}

footer > div {
	padding: 20px 100px;
    color: grey;
}

footer .container {
	background: #fff;
    font-size: 14px;
    line-height: 60px;
    width: auto;
    max-width: 680px;
    padding: 0 15px;
    margin: 0 auto;
}


footer .bottom {
	background: #f3f3f3;
    font-size: 12px;
}

/** SCROLLX Classes */

.red {
	background: red !important;
	font-weight: 900;
}

.box {
	text-align: center;
	margin: 0 auto;
	border: 2px solid white;
	height: 200px;
	width: 200px;
}

[data-scrollx] {
	transition: transform 0.5s ease-in, opacity 0.5s ease-in;
}

.offscreen-up {
	transform: translateY(-30px);
	opacity: 0;
}
